<!-- {% load bootstrap3 %} 
{% load static %}


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>comment</title>
  {{form.media}}

{% block styles %}
 {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/basenews.css' %}"> 
  {% endblock %}

</head>

<body>
    {% block content %}
<div class="container" >
<br><br>
     <div class="row" >


<div class="jumbotron">
  <form  action="{%url 'comment' %}" method="post" >
    {%csrf_token%}
<br>

    <div class="col-md-8">
    {% bootstrap_form form%}
  </div>
  
  <div class="col-md-3">
      <br>
    <input id="id_myfield" type="submit" class="btn btn-success btn-lg" value="Post">
  </div>
</div>
  </form>
</div>



  
   {% block scripts %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %} {% endblock %}




{% endblock %}
</body> -->
