{% extends 'my-instagram/base.html' %}
{% load bootstrap3 %}
{% block content %}

<style>
  #allimge {
  
    border-radius: 50%;
    margin-left: 10px;
  }
</style>

{%for image in images%}


<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-8">

    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">





          <h5 class="mb-0">

        
            {{image.user.username}}

          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <img class="center-block img-responsive " src="{{image.image.url}}" alt="" style="width:800px; height:400px">
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5>
           <p> {% autoescape on %}
            {{image.image_caption| safe}}
            {% endautoescape %} 
            
          </p>
            <small class="text-muted">Posted {{image.created_date|timesince}} by {{image.user.username}}</small><br>
          
                
                      
           
          </h5>
          
        </div>
    
      </div>


    </div>


  </div>
</div>

  </div>

</div>
{% endfor %}



{%endblock%}