{% extends 'my-instagram/base.html' %}
{% block content %}

<style>
  #allimge {
  
    border-radius: 50%;
    margin-left: 10px;
  }
</style>

{%for image in images%}


<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-8">

    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">





          <h5 class="mb-0">

            <a href="{%url 'profile' user.id %}"> <img id="allimge" src="{{image.profile.profile_pic.url}}" alt=""
                style="width:50px; height:50px"> </a>
            {{image.user.username}}

          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <img class="center-block img-responsive " src="{{image.image.url}}" alt="" style="width:800px; height:400px">
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5>

            {{image.image_caption}}
            <a href="{%url 'comment' image.id %}">Leave us a comment </a>
            <small class="text-muted">Posted {{image.created_date|timesince}} by {{image.user.username}}</small>
          
          </h5>
          
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <!-- <div class="card-body">
            Add a comment
          </div> -->
        </div>
      </div>

    </div>

  </div>

</div>
{% endfor %}



{%endblock%}